$Blue: hsl(246, 80%, 60%);

$Ligh-red-work: hsl(15, 100%, 70%);
$Sof-blue-play: hsl(195, 74%, 62%);
$Ligh-red-study: hsl(348, 100%, 68%);
$Lime-green-exercise: hsl(145, 58%, 55%);
$Violet-social: hsl(264, 64%, 52%);
$Soft-orange-self-care: hsl(43, 84%, 65%);

$very-dark-blue: hsl(226, 43%, 10%);
$vark-blue: hsl(235, 46%, 20%);
$vesaturated-blue: hsl(235, 45%, 61%);
$vale-Blue: hsl(236, 100%, 87%);